<MainContainer>
  <div class="dog dog-details-page">
    <Dog::Image
      @src={{this.model.image}}
    />
    <Dog::Details
      @name={{this.model.name}}
     />
  </div>
  <h5 class="mt-5">About {{this.model.name}}</h5>
  <ul>
    <li>Breed: {{this.model.breed}}</li>
    <li>Owner: {{this.model.owner}}</li>
    <li>Size: {{this.model.size}}</li>
    <li>Description: {{this.model.description}}</li>
    <li>Breakfast: {{this.model.meals.breakfast}}</li>
    <li>Dinner: {{this.model.meals.dinner}} </li>
    <ul> Activities
    {{#each this.model.activities as |activity| }}
      <li>{{activity}}</li>
    {{/each}}
    </ul>
  </ul>
</MainContainer>